* {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-weight: 400;
  color: #1f1f1f;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
	padding: 100px;
}

/*  H E A D E R  */

.header__button-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
}

.header__button {
	display: block;
	padding: 50px 0;
	font-weight: 700;
	font-size: 50px;
	color: #000;
}

.header__button--active {
	color: #ffac02;
}

.header__search {
	width: 100%;
	padding: 20px 20px 20px 0;
	margin-bottom: 20px;
	border: none;
	border-bottom: 3px solid #1f1f1f;
	font-size: 16px;
	outline: none;
}

/*  M A I N  */

.card__content-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #1f1f1f;
}

.card__content-item {
	width: 30%;
	padding: 20px 0;
	font-weight: bold;
	font-size: 30px;
}

.card__content-item--title {
	font-size: 20px;
}



